@model RainCheck.Models.fogetPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/Script/jquery-1.10.2.js"></script>
    <script src="~/Script/jquery.validate.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.js"></script>
</head>

<body>
        <div class="container">

            <div class="Content">
                @using (Html.BeginForm("SendEmailResetPassword", "Login", FormMethod.Post))
                {
                    <div class="HeaderLabel"><h3>Enter information to get password</h3></div>
                    <hr class="horizontalLine" />
                    <div class="logInfoDiv">
                        <span style="color:red;">@TempData["errorMessage"]</span>
                        <table>
                            <tr>
                                <td>Username:</td>
                                <td>@Html.TextBoxFor(x => x.username, new { @class = "form-control" } )</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    @Html.ValidationMessageFor(x => x.username, null, new { @style = "color:red;" })
                                </td>
                            </tr>
                            <tr>
                                <td>Policy Number:</td>
                                <td>@Html.TextBoxFor(x => x.policy_Num, new { @class = "form-control" } )</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    @Html.ValidationMessageFor(x => x.policy_Num, null, new { @style = "color:red;" })
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div>
                        <input id="ForgetPasswordBtn" class="btn btn-danger btn-block" type="submit" value="Submit" />
                    </div>
                }
                <hr class="horizontalLine" />
                <div class="returnToLogin">
                    <a href="../Login/LoginPage">Return to login page</a>
                </div>
            </div>
            </div>
</body>
</html>
