@model RainCheck.Models.fogetPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>

<script src="~/Script/jquery-1.10.2.js"></script>
<script src="~/Script/jquery.validate.js"></script>
<script src="~/Script/jquery.validate.unobtrusive.js"></script>

<body>
    <div> forget password</div>
        <div class="ForgetPasswordContainer" style="background-color:lightblue;">
            @using (Html.BeginForm("SendEmailResetPassword", "Login", FormMethod.Post))
            {
                <div class="ForgetPasswordLabel">
                    Enter information to get password
                </div>
                <div class="ForgetPasswordBox">
                    <span style="color:red;">@TempData["errorMessage"]</span>
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td>@Html.TextBoxFor(x => x.username)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.ValidationMessageFor(x => x.username, null, new { @style="color:red;"})
                            </td>
                        </tr>
                        <tr>
                            <td>Policy Number:</td>
                            <td>@Html.TextBoxFor(x => x.policy_Num)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.ValidationMessageFor(x => x.policy_Num, null, new { @style = "color:red;" })
                            </td>
                        </tr>
                    
                    </table>
                </div>
                <div>
                    <input id="ForgetPasswordBtn" type="submit" value="Submit" />
                </div>
            }
            <div class="returnToLogin">
                <a href="../Login/LoginPage">Return to login page</a>
            </div>
        </div>
</body>
</html>
