@model RainCheck.Models.policyVM

<div id="BillsAndOffers" class="tabcontent">
    <h3>Welcome @Model.userName</h3>
    @foreach (var o in Model.policies)
    {
        <h2>@o.policy_id</h2>
        <div>
            <p>total price -: @o.policy_amount</p>
            <p>amount due -: @o.policy_amount</p>
            <p>due date -: @o.end_date</p>
        </div>
    }
</div>